---
BasedOnStyle: Mozilla
AlignArrayOfStructures: Right
AlignConsecutiveShortCaseStatements:
  Enabled: 'true'
  AcrossEmptyLines: 'true'
  AcrossComments: 'true'
  AlignCaseArrows: 'false'
  AlignCaseColons: 'false'
AccessModifierOffset: '-4'
AlignTrailingComments: 'false'
AllowAllArgumentsOnNextLine: 'false'
AllowAllParametersOfDeclarationOnNextLine: 'false'
AllowShortBlocksOnASingleLine: 'true'
AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: 'false'
AlwaysBreakAfterDefinitionReturnType: None
BraceWrapping:
  AfterCaseLabel: 'true'
  AfterClass: 'true'
  AfterControlStatement: Always
  AfterEnum: 'true'
  AfterFunction: 'true'
  AfterNamespace: 'true'
  AfterObjCDeclaration: 'false'
  AfterStruct: 'true'
  AfterUnion: 'true'
  AfterExternBlock: 'true'
  BeforeCatch: 'true'
  BeforeElse: 'true'
  BeforeLambdaBody: 'false'
  BeforeWhile: 'false'
  IndentBraces: 'false'
  SplitEmptyFunction: 'false'
  SplitEmptyRecord: 'false'
  SplitEmptyNamespace: 'false'
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: 'false'
BinPackArguments: 'false'
BinPackParameters: 'false'
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
BreakBeforeConceptDeclarations: Always
ConstructorInitializerIndentWidth: 4
BreakBeforeTernaryOperators: 'false'
FixNamespaceComments: 'true'
IncludeBlocks: Preserve
IncludeCategories:
  - Regex: ^"PCH.*
    Priority: -1
  - Regex: ^".*
    Priority: 3
  - Regex: ^<.*
    Priority: 2
IncludeIsMainRegex: (Test)?$
IncludeIsMainSourceRegex: ""
IndentCaseBlocks: 'true'
IndentCaseLabels: 'true'
IndentExternBlock: AfterExternBlock
IndentRequiresClause: 'true'
IndentWidth: '4'
IndentWrappedFunctionNames: 'true'
Language: Cpp
NamespaceIndentation: All
SortIncludes: 'true'
SortUsingDeclarations: 'false'
SpaceAfterTemplateKeyword: 'true'
ColumnLimit: 120

WhitespaceSensitiveMacros: ['YKC_PLATFORM_INCLUDE']
SkipMacroDefinitionBody: 'true'

...
