[submodule "Core/YKC/Libraries/Zen"]
	path = Core/YK/Libraries/Zen
	url = https://github.com/Spratley/Zen.git
[submodule "HIDra"]
	path = Engine/EN/Libraries/HIDra
	url = https://github.com/Spratley/HIDra.git
